@font-face {
  font-family: 'kenyancoffee';
  src: url('./kenyc.ttf');
  src: local('./kenyc.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: opensans;
}

#banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 45px;
    background-color: #0879C2;
}

#br-title {
    font-family: 'Play', sans-serif;
    font-size: 32px;
    color: white;
    position: absolute;
    left: calc(50% - 55px);
}

#graph {
    position: absolute;
    top: 45px;
    bottom: 0px;
    left: 0px;
}

#sidebar {
    width: 35%;
    top: 45px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    padding-top: 15px;
    padding-right: 6px;
    padding-left: 6px;
    background-color: white;
}

#sb-title {
    font-size: 50px;
    font-family: 'Bangers', cursive;
}

#sb-details-photo-wrapper {
    clear: both;
    padding-top: 10px;
}

#sb-details {
    float: right;
    width: calc(70% - 10px);
    margin-left: 10px;
}

#sb-imdb-rating, #sb-metacritic-rating {
    font-size: 18px;
}

#sb-imdb-rating {
    margin-right: 10px;
}

#sb-director {
    font-weight: bold;
    font-size: 20px;
}

#sb-plot {
    margin-top: 10px;
}

#sb-netflix {
    display: none;
}

#sb-photo {
    width: 30%;
    float: left;
}

#sb-photo > img {
    width: 100%;
}

#initial-input-box {
    position: absolute;
    width: calc(100% - 90px);
    top: calc(50% - 17px);
}
.node circle {
  cursor: pointer;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

text {
    cursor: default;
    stroke: #0879C2;
    font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    stroke-width: .5;
    font-size: 14px;
    text-shadow: 0 0 4px white;
}

#sb-trailer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 240px;
    display: none;
}

#toggle-video-button {
    height: 40px;
    background-color: #4c99cb;
    cursor: pointer;
}

#toggle-video-button:hover {
    background-color: #0879C2;
}

#toggle-down, #toggle-up {
    margin: auto;
}

#toggle-down {
    display: block;
    padding-top: 2px;
}

#toggle-up {
    display: block;
    padding-bottom: 2px;
}

#toggle-down.nodisplay, #toggle-up.nodisplay {
    display: none;
}

#video {
    height: 100%;
}

#video-player {
    width: 100%;
    height: 100%;
}

#sb-loader-container {
    position: absolute;
    left: calc(50% - 70px);
    top: calc(50% - 150px);
    display: none;
}