<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>MyMDb</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>

<body>

<div id="graph"></div>
<div id="sidebar">
    <input class="form-control" type="text" id="initial-input-box" placeholder="What movie are you feeling?" autofocus="true"\>
</div>

</body>

<script src="{% static "mymdb/data.js" %}" type="text/javascript"></script>
<script src="{% static "mymdb/index.js" %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static "mymdb/index.css" %}">

</html>